NEXT_PUBLIC_API_BASE_URL="https://api.layverhq.com/api"
NEXT_PUBLIC_ROOT_DOMAIN="layverhq.com"
NEXT_PUBLIC_ROOT_SIGNIN_URL="https://layverhq.com/auth/sign-in"
NEXT_PUBLIC_ROOT_APP_URL="https://app.layverhq.com"
NEXT_PUBLIC_ROOT_ADMIN_URL="https://admin.layverhq.com"
NEXT_PUBLIC_ROOT_PARTNER_URL="https://partner.layverhq.com"
